/* PROJECTS */
.content__projects {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 18px;
}
.projects-title i {
  margin-right: 8px;
  color: #b6fffa;
}
.content__project__info__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.content__project__info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
  border-radius: 2.5px;
  background-color: #d3d3d3;
}

.content__project__info:hover {
  transform: translateY(-5px);
}

.content__project__img {
  position: relative;
  margin: 0;
}

.project-img {
  width: 100%;
  height: auto;
  display: block;
}
.link-to-project-arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  color: #25282a;
}
.link-to-project-repository {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  color: #25282a;
}
.project-title {
  font-size: 14px;
  font-weight: bold;
  margin: 14px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.project-details {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: left;
  height: 100%;
  flex: 1;
}
.project-description {
  flex: 8;
  font-size: 14px;
  margin-bottom: 14px;
}
.project-technologies {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tech-badge {
  padding: 4px;
  border-radius: 4px;
  font-size: 18px;
  display: inline-block;
}
.tech-img {
  width: 16px;
  height: 16px;
}
/* PROJECTS */

@media (min-width: 768px) {
  .project-title {
    font-size: 16px;
  }
  .content__project__info__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .project-title {
    font-size: 18px;
  }

  .project-description {
    font-size: 14px;
  }
}
