/* PROJECTS */
:root {
  --case-color: #1c1c1c;
  --screen-bezel: 1.2vh;
  --screen-radius: 2.5vh;
}

/* body {
  background-color: rgb(135, 135, 235);
  margin: 0;
  padding: 0;
} */
.content__projects {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 18px;
}
.projects-title i {
  margin-right: 8px;
  color: #b6fffa;
}
.content__project__info__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.cellphone__visualizer {
  background-color: #232323;
  border: 3px solid #552387;
  border-bottom: 18px solid #552387;
  border-radius: 3.8vh;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4), 0 0 0 5px var(--case-color);
  height: 63.5vh;
  margin: 15vh auto;
  position: relative;
  width: 36.5vh;
  overflow: hidden;
}

.cellphone__screen {
  position: absolute;
  top: var(--bezel-size);
  left: var(--bezel-size);
  right: var(--bezel-size);
  bottom: calc(var(--bezel-size) + 1.2vh);
  border-radius: var(--screen-radius);
  overflow: hidden;
  background-color: #000000;
  height: 100%;
}
.cellphone__visualizer::after {
  background-color: #000000;
  border: 1px solid #ebebeb33;
  border-radius: 100%;
  box-shadow: 0 0 4px #000000aa;
  content: "";
  position: absolute;
  top: 1.8vh;
  left: 50%;
  transform: translateX(-50%);
  height: 1.8vh;
  width: 1.8vh;
  z-index: 10;
}

.cellphone__info {
  background-color: var(--case-color);
  border-radius: 1.8vh;
  height: 8vh;
  position: absolute;
  right: -0.9vh;
  top: 50%;
  transform: translateY(-50%);
  width: 0.7vh;
  z-index: 10;
}

.cellphone__info::after,
.cellphone__info::before {
  content: "";
  position: absolute;
  background-color: var(--case-color);
  border-radius: 1.8vh;
  height: 5.5vh;
  width: 0.7vh;
  right: 0;
}

.cellphone__info::after {
  top: -6.5vh;
}

.cellphone__info::before {
  bottom: -6.5vh;
}

.content__project__info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
  border-radius: 2.5px;
  background-color: #d3d3d3;
}

.content__project__info:hover {
  transform: translateY(-5px);
}

.content__project__img {
  display: flex;
  position: relative;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}
.projectSk {
  width: 100%;
  background-color: #a6aebf;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 2;
}
.project-img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
.projectSk.hidden,
.project-img.hidden {
  opacity: 0;
  pointer-events: none;
}
.link-to-project-arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  color: #25282a;
}
.link-to-project-repository {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  color: #25282a;
}
.project-title {
  font-size: 14px;
  font-weight: bold;
  margin: 14px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.project-details {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: left;
  height: 100%;
  flex: 1;
  gap: 12px;
}
.project-description {
  flex: 8;
  font-size: 14px;
  /* margin-bottom: 14px; */
}
.project-technologies {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tech-badge {
  padding: 4px;
  border-radius: 4px;
  font-size: 18px;
  display: inline-block;
}
.tech-img {
  width: 16px;
  height: 16px;
}
/* PROJECTS */

@media (min-width: 768px) {
  .project-title {
    font-size: 16px;
  }
  .content__project__info__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .project-title {
    font-size: 18px;
  }

  .project-description {
    font-size: 14px;
  }
}
