/* ABOUT ME PREVIEW - HERO HEADER */

.prevMeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s ease-out;
  background-color: rgba(170, 236, 146, 0.5);
  color: var(--color-dark-alt);
}

.lang-label {
  font-size: 14px;
  font-weight: 400;
  color: rgb(19, 19, 19);
}

.content__me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 18px;
  color: var(--color-light-text);
}

.content__me__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  gap: 12px;
  margin-top: 18px;
}

.content__me__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.content__img {
  width: 80px;
  height: 80px;
  position: relative;
}

.meImgSk,
.meImg {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 0 2px var(--color-dark));
  border-radius: 16px;
  background-color: var(--color-skeleton);
  position: absolute;
}

.meImgSk.hidden,
.meImg.hidden {
  opacity: 0;
  pointer-events: none;
}

.content__me__descriptionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content__me__socialMedia {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.content__me__socialMedia a {
  text-decoration: none;
}

.social-media-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  padding: 6px;
  border-radius: 6px;
  position: relative;
  transition: background 0.2s ease;
  text-decoration: none;
}

.social-media-element:hover {
  background-color: var(--color-dark);
  color: #fff;
}

.translateBtn {
  display: flex;
  flex-direction: row;
  gap: 6px;
  position: relative;
}

.fine__line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--color-green);
}

.email__copy {
  position: relative;
}

#copyMailPreviewField,
#copyMailContactField,
#copyPhonenumberField {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  cursor: pointer;
}

#mailIcon {
  cursor: pointer;
}

.copy-mail-text,
.copy-phonenumber-text {
  position: absolute;
  top: -10px;
  right: -36px;
  color: #fff;
  background-color: var(--color-copy-success);
  padding: 4px;
  font-size: 8px;
  border-radius: 20px;
}

.copy-mail-text.hidden {
  visibility: hidden;
}

.copy-phonenumber-text.hidden {
  visibility: hidden;
}

.copy-success {
  color: var(--color-copy-success);
  transition: color 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .content__me {
    gap: 24px;
  }

  .content__me__presentation {
    align-items: normal;
    flex-direction: row;
    width: 85%;
  }

  .content__me__descriptionInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .content__me__brand {
    width: 30%;
    align-items: normal;
  }
}

@media (min-width: 1440px) {
  .social-media-element {
    width: 48px;
    padding: 7px;
  }
}
