/* ABOUT ME PREVIEW */

.prevMeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  padding: 6px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.content__me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 18px;
  color: #f6f0f0;
}
.content__me__filtered {
  display: grid;
  position: relative;
  min-height: 1000px; /* THIS IS COVERING A BUG THAT NEEDS TO BE SOLVED IN A FUTURE */
}
.content-item {
  grid-area: 1 / 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease, visibility 300ms;
}
.content-item.content-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.content__me__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  gap: 12px;
  margin-top: 27px;
}
.content__me__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.content__img {
  width: 80px;
  height: 80px;
  position: relative;
}
.meImgSk,
.meImg {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 0 2px #25282a);
  border-radius: 16px;
  background-color: #a6aebf;
  position: absolute;
}
.meImgSk.hidden,
.meImg.hidden {
  opacity: 0;
  pointer-events: none;
}
.content__me__descriptionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__me__text {
  font-size: 26px;
  width: 100%;
  text-align: center;
}
.description__info_accesibility {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content__me__social__media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
  font-size: 20px;
  outline: none;
  text-decoration: none;
  align-items: center;
}
.content__me__social__media a {
  color: #fff;
  text-decoration: none;
}

.social-media-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaec92;
  padding: 6px;
  border-radius: 6px;
  position: relative;
  transition: background 0.2s ease;
  text-decoration: none;
}
.social-media-element:hover {
  background-color: #25282a;
  color: #fff;
}

.content__me__socialMedia {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  /* margin-top: 12px; */
}
.content__me__socialMedia a {
  text-decoration: none;
}

.translateBtn {
  background-color: #0a9396;
  color: #f6f0f0;
  font-size: 16px;
  position: relative;
}

.my__content__categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.btn_my_content {
  width: 100%;
  background-color: #aaec92;
  color: #131313;
}
.btn_my_content:hover {
  background-color: #25282a;
  color: #fff;
  transition-duration: 300ms;
}

.btn_my_content i {
  pointer-events: none;
}

.btn_my_content__selected {
  background-color: #25282a;
  color: #fff;
}

.fine__line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #aaec92;
  /* margin: 12px 0 12px 0; */
}

.email__copy {
  position: relative;
  /* width: 200px; */
}
#copyMailPreviewField,
#copyMailContactField,
#copyPhonenumberField {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  cursor: pointer;
}
#mailIcon {
  cursor: pointer;
}
.copy-mail-text,
.copy-phonenumber-text {
  position: absolute;
  top: -10px;
  right: -36px;
  color: #fff;
  background-color: #16c47f;
  padding: 4px;
  font-size: 8px;
  border-radius: 20px;
}
.copy-mail-text.hidden {
  visibility: hidden;
}
.copy-phonenumber-text.hidden {
  visibility: hidden;
}
.copy-success {
  color: #16c47f;
  transition: color 0.3s ease-in-out;
}
/* ABOUT ME PREVIEW */

@media (min-width: 640px) {
  .content__me__social__media {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .content__me {
    gap: 24px;
  }
  .content__me__presentation {
    align-items: normal;
    flex-direction: row;
    width: 85%;
  }
  .content__me__descriptionInfo {
    justify-content: space-between;
  }

  .content__me__brand {
    width: 30%;
    align-items: normal;
  }
  .content__me__text {
    font-size: 32px;
    width: 70%;
    font-weight: bolder;
  }
  .my__content__categories {
    display: flex;
    gap: 12px;
    flex-direction: row;
    margin-top: 24px;
  }
  .prevMeBtn {
    font-size: 14px;
  }
  .btn_my_content,
  .translateBtn {
    flex-direction: row;
    font-size: 14px;
    gap: 4px;
    padding: 7px;
  }
  .translateBtn {
    font-size: 18px;
  }
  /* .content__me__socialMedia {
    flex-direction: column;
  } */
}

/* @media (min-width: 1024px) {

} */

@media (min-width: 1440px) {
  .social-media-element {
    width: 48px;
    padding: 7px;
  }
}
