/* TECHNOLOGIES */
.content__technologies {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.content__technologies__title i {
  margin-right: 8px;
  color: #b6fffa;
}

.content__technologies__img__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  /* padding: 8px; */
  justify-items: center;
  margin-top: 4px;
}

.technology__category {
  margin-bottom: 20px;
}

.technologies__img__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 6px;

  backdrop-filter: blur(8px);
  border: 1.5px solid #ffffff26;
}

.technologies__img {
  width: 30px;
  height: auto;
  object-fit: contain;
  object-position: center;
  border-radius: inherit;
}
.technologies__img__container p {
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
  /* color: #fff; */
}

/* .technologies__img__container:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
/* TECHNOLOGIES */

/* @media (min-width: 450px) {

} */

/* @media (min-width: 640px) {

} */

@media (min-width: 768px) {
  .technologies__img {
    width: 44px;
  }
}

@media (min-width: 1024px) {
  .technologies__img {
    width: 54px;
  }
}

@media (min-width: 1440px) {
  .technologies__img {
    width: 64px;
  }
  .content__technologies__img__grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
  }
}
