/* MY STUDIES */
.content__my__studies {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  width: 100%;
}

.studies__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  width: 100%;
  align-items: stretch;
}

.study__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(182, 255, 250, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 12px;
  justify-content: space-between;
}

.study__info {
  height: 80px;
  margin-bottom: 15px;
  overflow-y: hidden;
}
.study__info__img {
  height: 200px;
  height: 80%;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}

.study__info__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.studies__ref {
  min-height: 60px;
  margin-top: auto;
}
.studies__ref a {
  outline: none;
  text-decoration: none;
  display: block;
  width: fit-content;
}

/* DESKTOP STYLES */
@media (min-width: 768px) {
  .studies__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .studies__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .study__info__img {
    height: 250px;
  }
}
