.content__my__studies {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 100%;
  gap: 12px;
}

.studies__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.study__card {
  display: flex;
  flex-direction: column;
  background: #d3d3d3;
  /* border-radius: 14px; */
  padding: 12px;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  gap: 12px;
  border-radius: 2.5px;
}

.study__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.study__info h3 {
  word-wrap: break-word;
}

.study__info__img img {
  width: 100%;
}

.studies__ref a {
  outline: none;
  text-decoration: none;
  display: block;
  width: fit-content;
}
.studies__ref p {
  font-size: 12px;
}
.studies__ref a p {
  font-weight: bolder;
  font-size: 12px;
}

@media (min-width: 768px) {
  .study__info__img img {
    height: 260px;
  }
  .studies__grid {
    grid-template-columns: repeat(2, 280px);
  }
}

@media (min-width: 1024px) {
  .studies__grid {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (min-width: 1440px) {
  .studies__grid {
    grid-template-columns: repeat(2, 380px);
  }
}
