* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

/* LOADING BOUNCE ANIMATION */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
/* LOADING BOUNCE ANIMATION */

body {
  background-color: #03001c;
  font-family: "Roboto Flex", serif;
  line-height: 1.3;
  overflow-x: hidden;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}
h2 {
  font-size: 16px;
  font-weight: 800;
}
h3,
h4 {
  font-size: 14px;
  font-weight: 800;
}
.btn-nav-initial,
.btn {
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  background: none;
}
.btn-nav-wide {
  outline: none;
  border: none;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  background-color: #03001c41;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-right: 10vw;
  margin-left: 10vw;
  color: white;
  z-index: 1;
}
.content {
  margin-top: 80px;
  width: 100%;
  height: 100%;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loading-metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #03001c;
  z-index: 40;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.loading-metadata.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 14px;
  height: 14px;
  background-color: #b6fffa;
  border-radius: 50%;
  animation: bounce 0.4s infinite alternate;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

#loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #03001c;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 10;
  color: #b6fffa;
}

#loading-indicator.show {
  opacity: 1;
  pointer-events: auto;
}
.progress-bar {
  width: 250px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  position: relative;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 6px;
}

.progress-bar-fill {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #b6fffa;
  transition: width 0.4s linear;
}

/* NAVBAR */
.navbar {
  display: flex;
  width: 100%;
  top: 0;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  backdrop-filter: blur(12px);
  padding: 6px;
}
.navbar__elements {
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  top: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 12px;
  background-color: #b6fffa2d;
}
.navbar__content__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar__content__mobile i {
  color: #b6fffa;
  font-size: 18px;
}
#menu {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.navbar__menu__content {
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 175%;
  right: 0;
  padding: 18px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  background-color: transparent;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  pointer-events: none;
}
.navbar__menu__content.show {
  display: flex;
  visibility: visible;
  max-height: fit-content;
  opacity: 1;
  position: absolute;
  top: 44.5px;
  right: 0;
  gap: 14px;
  background-color: #b6fffa2d;
  pointer-events: auto;
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.3);
}
.navbar__menu__content.show a {
  background-color: #03001c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.navbar__content__wide {
  display: none;
  width: 100%;
  justify-content: space-between;
}
.navbar__link,
.nav__button {
  position: relative;
  background-color: #03001c41;
  text-decoration: none;
  font-size: 12px;
  padding: 8px;
  border-radius: 6px;
  color: #b6fffa;
  text-align: center;
  transition: box-shadow 0.4s ease;
  overflow: hidden;
  border: none;
}
.navbar__link::before,
.nav__button::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  z-index: -1;
  background-color: #03001c41;
  background-image: linear-gradient(to bottom right, #b6fffa, #445687);
  transition: opacity 0.4s ease;
  opacity: 0;
}

.navbar__link:hover::before,
.nav__button:hover::before {
  opacity: 1;
}
.navbar__link:hover,
.nav__button:hover {
  z-index: 0;
  box-shadow: 20px 0 60px #b6fffa2d;
}
.translate-menu-options {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  background-color: transparent;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  pointer-events: none;
}
.translate-menu-options.show {
  display: flex;
  visibility: visible;
  flex-direction: column;
  max-height: fit-content;
  opacity: 1;
  position: absolute;
  top: 44.5px;
  left: 0;
  gap: 14px;
  background-color: #b6fffa2d;
  pointer-events: auto;
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.3);
}
.translate-menu-options.show button {
  background-color: #03001c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/* NAVBAR */

/* ABOUT ME PREVIEW */
.content__me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.content__img {
  width: 180px;
  height: 180px;
  margin-bottom: 14px;
}

.meImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.content__me__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.content__me__text {
  padding: 2px;
  margin-top: 32px;
  font-size: 16px;
  text-align: center;
}

.content__me__social__media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
  font-size: 20px;
  outline: none;
  text-decoration: none;
  align-items: center;
}
.content__me__social__media a {
  color: #fff;
  text-decoration: none;
}

.social-media-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #1a2647;
  padding: 6px;
  width: 200px;
  border-radius: 6px;
  position: relative;
  transition: background 0.3s ease;
}
.social-media-element:hover {
  background-color: #b6fffa2d;
}
.email__copy {
  position: relative;
  width: 200px;
}
#copyMailPreviewField,
#copyMailContactField,
#copyPhonenumberField {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  cursor: pointer;
}
#mailIcon {
  cursor: pointer;
}
.copy-mail-text,
.copy-phonenumber-text {
  position: absolute;
  top: -10px;
  right: -36px;
  color: #fff;
  background-color: #16c47f;
  padding: 4px;
  font-size: 8px;
  border-radius: 20px;
}
.copy-mail-text.hidden {
  visibility: hidden;
}
.copy-success {
  color: #16c47f;
  transition: color 0.3s ease-in-out;
}
/* ABOUT ME PREVIEW */

/* TECHNOLOGIES */
.content__technologies {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.content__technologies__title i {
  margin-right: 8px;
  color: #b6fffa;
}

.content__technologies__img__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 12px;
  justify-items: center;
}

.technologies__img__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 120px;
  aspect-ratio: 1.5;
  /* border-radius: 12px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  background-color: #b6fffa2d;
  padding: 6px;
}

.technologies__img {
  width: 65%;
  height: 65%;
  object-fit: contain;
  object-position: center;
  border-radius: inherit;
}
.technologies__img__container p {
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.technologies__img__container:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* TECHNOLOGIES */

/* PROJECTS */
.content__projects {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.projects-title,
.content__technologies__title,
.my-studies-title,
.about-me-title,
.contact__title {
  display: flex;
  align-items: center;
  padding: 18px;
  background-color: transparent;
  border: 2px solid #1a2647;
  /* border-radius: 6px; */
  margin-bottom: 32px;
}
.projects-title i {
  margin-right: 8px;
  color: #b6fffa;
}
.content__project__info__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  height: 100%;
}
.content__project__info {
  display: flex;
  flex-direction: column;
  background-color: #b6fffa2d;
  /* border: 2px solid #1a2647;
  border-radius: 12px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

.content__project__info:hover {
  transform: translateY(-5px);
}

.content__project__img {
  position: relative;
  margin: 0;
}
.content__project__img i {
  filter: drop-shadow(2px 2px 2px rgba(3, 0, 28, 0.572));
}

.project-img {
  width: 100%;
  height: auto;
  display: block;
}
.link-to-project-arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  color: #b6fffa;
}
.link-to-project-repository {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  color: #b6fffa;
}
.project-title {
  font-size: 14px;
  font-weight: bold;
  margin: 14px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.project-details {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: left;
  height: 100%;
  flex: 1;
}
.project-description {
  flex: 8;
  font-size: 14px;
  margin-bottom: 14px;
}
.project-technologies {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tech-badge {
  padding: 4px;
  border-radius: 4px;
  font-size: 18px;
  display: inline-block;
}
.tech-img {
  width: 16px;
  height: 16px;
}
/* PROJECTS */

/* MY STUDIES */
.content__my__studies {
  margin-top: 32px;
}
.my-studies-title i {
  color: #b6fffa;
  margin-right: 10px;
}

.content__my__studies__info {
  position: relative;
}

.study-item {
  display: flex;
  align-items: baseline;
  position: relative;
  padding: 8px 0 8px 0;
}

.study-item::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 8px;
  bottom: -12px;
  width: 2px;
  border-radius: 20px;
  background-color: #b6fffa;
  z-index: -1;
}

.study-point {
  width: 15px;
  height: 15px;
  background-color: #b6fffa;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.study-item:last-child::before {
  bottom: 8px;
}

.study-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px;
  background-color: #b6fffa2d;
  /* border: 2px solid #1a2647;
  border-radius: 6px; */
  word-break: break-all;
}
.study-details-links {
  display: flex;
  margin-top: 6px;
  flex-wrap: wrap;
}
.study-details-links a {
  margin-right: 6px;
}
.study-details a,
.study-details p {
  text-decoration: none;
  color: #d8d4d4;
  font-size: small;
}
.show-certificate-btn,
.physicalCertificate {
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #b6fffa2d;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 160px;
  padding: 8px;
}
.physicalCertificate {
  cursor: not-allowed;
}
.modal {
  display: none;
  position: fixed;
  min-height: 100vh;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
}

.modal-content {
  position: absolute;
  background-color: #b6fffa2d;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  border: none;
  width: 85%;
  max-width: 350px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 44;
}
.modal-content iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 20px;
}

.close {
  color: #fd0000;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 33px;
  left: 34px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #000000b2;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .close i {
  background-color: #ff0000;
  border-radius: 50%;
} */
/* MY STUDIES */

/* CONTACT */
.content__contact {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #fff;
  margin-top: 64px;
}
.contact__title i {
  margin-right: 8px;
  color: #b6fffa;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  width: 100%;
  position: relative;
}
.contact-text {
  font-weight: bold;
}
.addres__contact {
  margin-top: 14px;
  width: 100%;
}
.contact-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  background-color: #b6fffa2d;
  border: 2px solid #1a2647;
  border-radius: 6px;
  padding: 8px;
  word-break: break-all;
  position: relative;
  font-size: 14px;
}
.copy-phonenumber-text.hidden {
  visibility: hidden;
}
.contact-item a {
  color: #fff;
  text-decoration: none;
}
.link-to-media {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  cursor: pointer;
}
.contact-item a:hover {
  text-decoration: underline;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px;
}
.copyright i {
  margin-right: 4px;
  color: #b6fffa;
}
/* CONTACT */

@media (min-width: 450px) {
  .content__project__info__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .content__technologies__img__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    padding: 18px;
  }
  .modal-content {
    width: 80%;
    max-width: 500px;
  }
  .modal-content iframe {
    width: 100%;
    height: 350px;
  }
}

@media (min-width: 640px) {
  .navbar__menu__content {
    padding: 26px;
  }
  .content__me__social__media {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .social-media-element {
    width: 160px;
  }
  .content__technologies__img__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 18px;
  }
  .technologies__img__container {
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .technologies__img {
    width: 50%;
    height: 50%;
  }
  .content__project__info__container {
    grid-template-columns: 1fr 1fr;
  }
  .project-title {
    font-size: 16px;
  }
  .modal-content {
    width: 80%;
    max-width: 700px;
  }
  .modal-content iframe {
    width: 100%;
    height: 450px;
  }

  /* .content__img__about__me {
    width: 25%;
  } */
  .addres__contact {
    width: 60%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  .technologies__img {
    width: 65%;
    height: 65%;
  }

  .modal-content {
    width: 60%;
    max-width: 800px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  .layout {
    margin-right: 20vw;
    margin-left: 20vw;
  }
  .navbar__content__mobile {
    display: none;
  }
  .navbar__content__wide {
    display: flex;
  }
  .social-media-element {
    width: 140px;
  }
  .translate-menu-options.show {
    right: 0;
    left: auto;
    top: 57px;
  }
  .contact-text {
    font-size: 18px;
    font-weight: bold;
  }

  .modal-content {
    width: 50%;
    max-width: 900px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .layout {
    margin-right: 26vw;
    margin-left: 26vw;
  }
  .navbar__link {
    font-size: 14px;
  }
  .translate-menu-options.show {
    right: 0;
    left: auto;
    top: 60px;
  }
  .social-media-element {
    width: 180px;
  }
  .content__technologies__img__grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 24px;
  }
  .technologies__img__container {
    max-width: 480px;
  }
  .technologies__img {
    width: 70%;
    height: 70%;
  }
  .modal-content {
    width: 40%;
    max-width: 1000px;
  }
  .modal-content iframe {
    width: 100%;
    height: 550px;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  .layout {
    margin-right: 30vw;
    margin-left: 30vw;
  }
  .navbar__link {
    font-size: 16px;
  }
  .translate-menu-options.show {
    right: 0;
    left: auto;
    top: 62.5px;
  }
  .content__technologies__img__grid {
    gap: 32px;
    padding: 32px;
  }
  .technologies__img {
    width: 40%;
    height: 40%;
  }
  .modal-content {
    width: 35%;
    max-width: 1100px;
  }
  .modal-content iframe {
    width: 100%;
    height: 750px;
  }
  .addres__contact {
    width: 40%;
  }
}
